<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>a-mwangwego</key>
  <string>a-mwangwego.glif</string>
  <key>ba-mwangwego</key>
  <string>ba-mwangwego.glif</string>
  <key>cha-mwangwego</key>
  <string>cha-mwangwego.glif</string>
  <key>da-mwangwego</key>
  <string>da-mwangwego.glif</string>
  <key>dhla-mwangwego</key>
  <string>dhla-mwangwego.glif</string>
  <key>dza-mwangwego</key>
  <string>dza-mwangwego.glif</string>
  <key>emwa</key>
  <string>emwa.glif</string>
  <key>fa-mwangwego</key>
  <string>fa-mwangwego.glif</string>
  <key>ga-mwangwego</key>
  <string>ga-mwangwego.glif</string>
  <key>gha-mwangwego</key>
  <string>gha-mwangwego.glif</string>
  <key>ha-mwangwego</key>
  <string>ha-mwangwego.glif</string>
  <key>hi</key>
  <string>hi.glif</string>
  <key>hla-mwangwego</key>
  <string>hla-mwangwego.glif</string>
  <key>ima</key>
  <string>ima.glif</string>
  <key>ja-mwangwego</key>
  <string>ja-mwangwego.glif</string>
  <key>ka-mwangwego</key>
  <string>ka-mwangwego.glif</string>
  <key>kwanthu</key>
  <string>kwanthu.glif</string>
  <key>la-mwangwego</key>
  <string>la-mwangwego.glif</string>
  <key>ma-mwangwego</key>
  <string>ma-mwangwego.glif</string>
  <key>mi</key>
  <string>mi.glif</string>
  <key>mula</key>
  <string>mula.glif</string>
  <key>mura</key>
  <string>mura.glif</string>
  <key>myu</key>
  <string>myu.glif</string>
  <key>na-mwangwego</key>
  <string>na-mwangwego.glif</string>
  <key>ni</key>
  <string>ni.glif</string>
  <key>nya-mwangwego</key>
  <string>nya-mwangwego.glif</string>
  <key>ota</key>
  <string>ota.glif</string>
  <key>pa-mwangwego</key>
  <string>pa-mwangwego.glif</string>
  <key>pewa</key>
  <string>pewa.glif</string>
  <key>psa-mwangwego</key>
  <string>psa-mwangwego.glif</string>
  <key>qa-mwangwego</key>
  <string>qa-mwangwego.glif</string>
  <key>ra-mwangwego</key>
  <string>ra-mwangwego.glif</string>
  <key>sa-mwangwego</key>
  <string>sa-mwangwego.glif</string>
  <key>sha-mwangwego</key>
  <string>sha-mwangwego.glif</string>
  <key>sisi</key>
  <string>sisi.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>ta-mwangwego</key>
  <string>ta-mwangwego.glif</string>
  <key>tha-mwangwego</key>
  <string>tha-mwangwego.glif</string>
  <key>tsa-mwangwego</key>
  <string>tsa-mwangwego.glif</string>
  <key>tumba</key>
  <string>tumba.glif</string>
  <key>uyu</key>
  <string>uyu.glif</string>
  <key>va-mwangwego</key>
  <string>va-mwangwego.glif</string>
  <key>wa-mwangwego</key>
  <string>wa-mwangwego.glif</string>
  <key>waya</key>
  <string>waya.glif</string>
  <key>waya_below</key>
  <string>waya_below.glif</string>
  <key>xa-mwangwego</key>
  <string>xa-mwangwego.glif</string>
  <key>ya-mwangwego</key>
  <string>ya-mwangwego.glif</string>
  <key>za-mwangwego</key>
  <string>za-mwangwego.glif</string>
  <key>zha-mwangwego</key>
  <string>zha-mwangwego.glif</string>
</dict>
</plist>
