<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-212</integer>
        <key>width</key>
        <integer>11</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>472</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>asc</key>
      <dict>
        <key>position</key>
        <integer>700</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>72</key>
      <dict>
        <key>width</key>
        <integer>72</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>174</key>
      <dict>
        <key>width</key>
        <integer>174</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>a-mwangwego</string>
    <string>ba-mwangwego</string>
    <string>cha-mwangwego</string>
    <string>da-mwangwego</string>
    <string>fa-mwangwego</string>
    <string>ga-mwangwego</string>
    <string>gha-mwangwego</string>
    <string>ha-mwangwego</string>
    <string>ja-mwangwego</string>
    <string>zha-mwangwego</string>
    <string>ka-mwangwego</string>
    <string>la-mwangwego</string>
    <string>ma-mwangwego</string>
    <string>na-mwangwego</string>
    <string>nya-mwangwego</string>
    <string>pa-mwangwego</string>
    <string>ra-mwangwego</string>
    <string>sa-mwangwego</string>
    <string>sha-mwangwego</string>
    <string>ta-mwangwego</string>
    <string>tsa-mwangwego</string>
    <string>psa-mwangwego</string>
    <string>va-mwangwego</string>
    <string>wa-mwangwego</string>
    <string>ya-mwangwego</string>
    <string>za-mwangwego</string>
    <string>dza-mwangwego</string>
    <string>dhla-mwangwego</string>
    <string>hla-mwangwego</string>
    <string>xa-mwangwego</string>
    <string>qa-mwangwego</string>
    <string>tha-mwangwego</string>
    <string>emwa</string>
    <string>ima</string>
    <string>ota</string>
    <string>uyu</string>
    <string>waya</string>
    <string>waya_below</string>
    <string>ni</string>
    <string>hi</string>
    <string>mi</string>
    <string>myu</string>
    <string>sisi</string>
    <string>mura</string>
    <string>mula</string>
    <string>pewa</string>
    <string>tumba</string>
    <string>kwanthu</string>
  </array>
</dict>
</plist>
